doctype html
head
    meta(charset='UTF-8')
    title Interface

body(style='margin:0;background-color: #ABCDEF; text-align: center')
    img(src=posterPath height='300' width='300' alt='poster image')
    h3 #{album}
    h3 #{artist}
    h3 #{track}
    h3(style="white-space: pre-line") #{lyrics}
